html {
    width: 100vw;
    height: 100vh;
}

.App {
    width: 390px;
    height: 600px;
    border: 1px solid grey;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 70px;
    padding-top: 30px;
    padding: 15px;
    box-sizing: border-box;
}

.App .blob {
    background-color: #f9ea85;
    border-radius: 50%;
    height: 523px;
    width: 653px;
    position: absolute;
    top: -356px;
    left: 50%;
    transform: translate(-50%, 0);
}

.App .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 125px;
    margin-top: 20px;
}

.App .icon-container .icon {
    position: relative;
    z-index: 1;
}

.App .items-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 5px;
}
